<div class="content-wrapper" id="main-container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid d-none d-sm-block d-sm-none d-md-block">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!-- <h1 class="m-0 text-dark">Dashboard Client</h1> -->
            <div class="row btn-group">
                
                  <button  *ngFor="let lang of supportedLanguages"
                  (click)="selectLang(lang.value)"
                  class="btn-sm btn btn-default btn-space" [class.btn-primary]="isCurrentLang(lang.value,lang.key)">
                  {{ lang.display }}
              </button>
                
                
                
            </div>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><button class="btn btn-default btn-language" (click)="openSimpleModal()">{{btn_modal}}</button></li>
            </ol>
          </div>
        </div><!-- /.row -->
      </div>
    </div>
    <hr>

    <section class="content">
      <div class="container-fluid">
        <h1 class="m-0 text-dark">{{currentLangue}}</h1>
        <p>{{translateByCode('Add_lang')}}</p>
        <!-- Info boxes -->
        <div class="row">
            
            <div class="col-md-8">
                <form >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{typeNiveau.selectLang}}</label>
                                <select name="selectLanguage" [(ngModel)]="selectLanguage" class="form-control">
                                    <option>Selectionner Une Langue</option>
                                  <option value="{{typeLang.francais[0]}}">{{typeLang.francais[1]}}</option>
                                    <option value="{{typeLang.anglais[0]}}">{{typeLang.anglais[1]}}</option>
                                    <option value="{{typeLang.arabe[0]}}">{{typeLang.arabe[1]}}</option>
                                    <option value="{{typeLang.espagnol[0]}}">{{typeLang.espagnol[1]}}</option>
                                    <option value="{{typeLang.latin[0]}}">{{typeLang.latin[1]}}</option>
                                    <option value="{{typeLang.chinois[0]}}">{{typeLang.chinois[1]}}</option>
                                    <option value="{{typeLang.allemand[0]}}">{{typeLang.allemand[1]}}</option>
                                    <option value="{{typeLang.nerlandais[0]}}">{{typeLang.nerlandais[1]}}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{typeNiveau.nivoParler}}</label>
                                <select name="selectNivoParler" [(ngModel)]="selectNivoParler" required class="form-control">
                                    <option>Selectionner Une Langue</option>
                                    <option value="{{typeValue.courant[0]}}">{{typeValue.courant[1]}}</option>
                                    <option value="{{typeValue.interim[0]}}">{{typeValue.interim[1]}}</option>
                                    <option value="{{typeValue.preinterim[0]}}">{{typeValue.preinterim[1]}}</option>
                                    <option value="{{typeValue.expert[0]}}">{{typeValue.expert[1]}}</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{typeNiveau.nivoEcrit}}</label>
                                <select name="selectNivoEcrit" [(ngModel)]="selectNivoEcrit" class="form-control">
                                    <option>Selectionner Une Langue</option>
                                    <option value="{{typeValue.courant[0]}}">{{typeValue.courant[1]}}</option>
                                    <option value="{{typeValue.interim[0]}}">{{typeValue.interim[1]}}</option>
                                    <option value="{{typeValue.preinterim[0]}}">{{typeValue.preinterim[1]}}</option>
                                    <option value="{{typeValue.expert[0]}}">{{typeValue.expert[1]}}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{typeNiveau.nivoCompre}}</label>
                                <select name="selectNivoComp" [(ngModel)]="selectNivoComp" class="form-control">
                                    
                                    <option value="{{typeValue.courant[0]}}">{{typeValue.courant[1]}}</option>
                                    <option value="{{typeValue.interim[0]}}">{{typeValue.interim[1]}}</option>
                                    <option value="{{typeValue.preinterim[0]}}">{{typeValue.preinterim[1]}}</option>
                                    <option value="{{typeValue.expert[0]}}">{{typeValue.expert[1]}}</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" (click)="saveLang()" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="small-box nbr-langue">
                    <div class="inner">
                      <h5>{{nbreLang}}</h5>
                      <h1>{{users.length}}</h1>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    
                  </div>
            </div>
         
        </div>

        <app-users [data] = "dataChild" (newItemEvent) ="addItem($event)"></app-users>

      </div>
    </section>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Detail Current</h3>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="selectUser != null" class="modal-body">
              <div class="col">
                <div class="row">
                  <div class="col-sm-6"> <h6>{{selectUser.langue}}</h6> </div>
                </div>
                <hr>
              
                <div class="row">
                  <div class="col-sm-6"> <h6>{{typeNiveau.nivoParler}}</h6> </div>
                  <div class="col-sm-3">interim</div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-6"> <h6>{{typeNiveau.nivoEcrit}}</h6> </div>
                    <div class="col-sm-3">interim</div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6"> <h6>{{typeNiveau.nivoCompre}}</h6> </div>
                    <div class="col-sm-3">interim</div>
                  </div>
                  <hr>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>             
            </div>
          </div>
        </div>
      </div>

       <!--  Modal pour Suprimer un compte -->
      <div class="modal fade" id="modal-warning">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Delete Item Language</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Cette Langue sera Suprimer</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Annuler</button>
              <button type="button" *ngIf="isValide" class="btn btn-outline-dark" (click)="deleteUser()">Comfirmer</button>
            </div>
          </div>
        </div>
      </div>

       <!--  Modal pour afficher les Detail des Information -->
      <div class="modal fade" id="modal-detail">
        <div class="modal-dialog">
          <div class="modal-content bg-primary">
            <div class="modal-header">
              <h4 class="modal-title">Detail Item Language</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="selectUser != null">
                <div class="col">
                  <div class="row">
                    <div class="col-sm-6"> <h6>{{selectUser.langue}}</h6> </div>
                  </div>
                  <hr>
                
                  <div class="row">
                    <div class="col-sm-6"> <h6>{{typeNiveau.nivoParler}}</h6> </div>
                    <div class="col-sm-3">{{translateByCode(selectUser.nivoParler)}}</div>
                  </div>
                  <hr>
  
                  <div class="row">
                      <div class="col-sm-6"> <h6>{{typeNiveau.nivoEcrit}}</h6> </div>
                      <div class="col-sm-3">{{translateByCode(selectUser.nivoEcrit)}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6"> <h6>{{typeNiveau.nivoCompre}}</h6> </div>
                      <div class="col-sm-3">{{translateByCode(selectUser.nivoComprehension)}}</div>
                    </div>
                    <hr>
                </div>               
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>             
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-modifier">
        <div class="modal-dialog">
          <div class="modal-content bg-success">
            <div class="modal-header">
              <h4 class="modal-title">Update Item Language</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form >
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{typeNiveau.selectLang}}</label>
                            <select name="selectLanguage" [(ngModel)]="selectLanguage" class="form-control">
                                <option>Selectionner Une Langue</option>
                                <option value="{{typeLang.francais[0]}}">{{typeLang.francais[1]}}</option>
                                    <option value="{{typeLang.anglais[0]}}">{{typeLang.anglais[1]}}</option>
                                    <option value="{{typeLang.arabe[0]}}">{{typeLang.arabe[1]}}</option>
                                    <option value="{{typeLang.espagnol[0]}}">{{typeLang.espagnol[1]}}</option>
                                    <option value="{{typeLang.latin[0]}}">{{typeLang.latin[1]}}</option>
                                    <option value="{{typeLang.chinois[0]}}">{{typeLang.chinois[1]}}</option>
                                    <option value="{{typeLang.allemand[0]}}">{{typeLang.allemand[1]}}</option>
                                    <option value="{{typeLang.nerlandais[0]}}">{{typeLang.nerlandais[1]}}</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{typeNiveau.nivoParler}}</label>
                            <select name="selectNivoParler" [(ngModel)]="selectNivoParler" required class="form-control">
                                <option>Selectionner Une Langue</option>
                                <option value="{{typeValue.courant[0]}}">{{typeValue.courant[1]}}</option>
                                <option value="{{typeValue.interim[0]}}">{{typeValue.interim[1]}}</option>
                                <option value="{{typeValue.preinterim[0]}}">{{typeValue.preinterim[1]}}</option>
                                <option value="{{typeValue.expert[0]}}">{{typeValue.expert[1]}}</option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{typeNiveau.nivoEcrit}}</label>
                            <select name="selectNivoEcrit" [(ngModel)]="selectNivoEcrit" class="form-control">
                                <option>Selectionner Une Langue</option>
                                <option value="{{typeValue.courant[0]}}">{{typeValue.courant[1]}}</option>
                                    <option value="{{typeValue.interim[0]}}">{{typeValue.interim[1]}}</option>
                                    <option value="{{typeValue.preinterim[0]}}">{{typeValue.preinterim[1]}}</option>
                                    <option value="{{typeValue.expert[0]}}">{{typeValue.expert[1]}}</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{typeNiveau.nivoCompre}}</label>
                            <select name="selectNivoComp" [(ngModel)]="selectNivoComp" class="form-control">
                                <option>Selectionner Une Langue</option>
                                <option value="{{typeValue.courant[0]}}">{{typeValue.courant[1]}}</option>
                               <option value="{{typeValue.interim[0]}}">{{typeValue.interim[1]}}</option>
                               <option value="{{typeValue.preinterim[0]}}">{{typeValue.preinterim[1]}}</option>
                               <option value="{{typeValue.expert[0]}}">{{typeValue.expert[1]}}</option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" *ngIf="isValide" (click)="updateUser()" class="btn btn-primary">Modifier</button>
                </div>
            </form>            
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>             
            </div>
          </div>
        </div>
      </div>
  </div>

