<div class="content-wrapper" id="main-container">
    <!-- Component du Nav Bar-->
    <app-nav-bar [languages] = "dataChild.languages"></app-nav-bar>
    <!-- Fin Nav Bar-->
    <hr>

    <section class="content">
      <div class="container-fluid">
        <h1 class="m-0 text-dark">{{currentLangue}}</h1>
        <p>{{translateByCode('Add_lang')}}</p>
        <div class="row">
          <div class="col-md-8" >
            <!-- Component du Formulaire de Creation -->
            <app-language-form [dataForm]="data" (dataEventForm)="receveDataFormulaire($event)" >
            </app-language-form>
            <!-- Fin du Formulaire -->
          </div>
          <!-- Div d affichage du nombre de langue -->
            <div class="col-md-3">
                <div class="small-box nbr-langue">
                    <div class="inner">
                      <h5>{{nbreLang}}</h5>
                      <h1>{{languages.length}}</h1>
                    </div>
                  </div>
            </div>
            <!-- Fin de la div -->
         
        </div>

        <!-- Component de la Liste des Langues -->
        <app-list-language [data] = "dataChild" (dataEvent)="receveData($event)">
        </app-list-language>
        <!-- Fin du component -->
      </div>
    </section>
       <!-- Component des Modal (Boite de dialogue) -->
      <app-detail [dataModal] = "modalData"></app-detail>
      <!-- Fin du Component modal-->
  </div>

