
    <div class=""  >
        <form  [formGroup]="languageForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{translateByCode('cho_lang')}}</label>
                        <select [(ngModel)]="dataForm.currentLang.langue" formControlName="langue" class="form-control">
                            <option value="">Selectionner Une Langue</option>
                            <option  *ngFor="let lang of dataForm.lang.values" value="{{lang}}" > {{translateByCode(lang)}}</option>
                          
                          </select>
                          
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{translateByCode('spk_level')}}</label>
                        <select [(ngModel)]="dataForm.currentLang.nivoParler" formControlName="nivoParler" required class="form-control">
                            <option>Selectionner Une Langue</option>
                            <option *ngFor="let nivo of dataForm.value.values" value="{{nivo}}"> {{translateByCode(nivo)}}</option>
                          
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{translateByCode('spk_level')}}</label>
                        <select [(ngModel)]="dataForm.currentLang.nivoEcrit" formControlName="nivoEcrit" class="form-control">
                            <option>Selectionner Une Langue</option>
                            <option *ngFor="let nivo of dataForm.value.values" value="{{nivo}}"> {{translateByCode(nivo)}}</option>
                           
                          </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{translateByCode('com_level')}}</label>
                        <select [(ngModel)]="dataForm.currentLang.nivoComprehension" formControlName="nivoComprehension" class="form-control">
                            
                            <option>Selectionner Une Langue</option>
                            <option *ngFor="let nivo of dataForm.value.values" value="{{nivo}}"> {{translateByCode(nivo)}}</option>
                           
                          </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit"  class="btn btn-primary">{{translateByCode('btn_save')}}</button>
            </div>
        </form>
    </div>
